.stick {
  background-color: blue;
  display: inline-block;
  width: 0.3em;
  margin: 0.15em;
}

.sort-button{
  text-decoration: none;
  padding: 2em;
  background-color: green;
  border-radius: 20%;
}

.down {
  margin-top: 5em;
  text-align: center;
}

.filler {
  display: inline-block;
}

.center {
  text-align: center;
}
